<a href="https://colab.research.google.com/github/Worlddatascience/DataSamples/blob/master/12Data_Basics_with_Python_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd #used for data science processes for easy indexing and manipulation

In [ ]:
#Lets create a dataframe and a dictionary
#We know we are creating a dictionary because we see {Key : Values}
DATASAMPLE1 = pd.DataFrame({'Favorite Colors': ['Blue', 'green', 'purple', 'yellow'], 
                            'Favorite Shoes': ['Puma', 'Converse', 'Lacoste', 'Hollister']},
                           index=[0, 1, 2, 3]) #Organizes our table

In [ ]:
DATASAMPLE1

  Favorite Colors Favorite Shoes
0            Blue           Puma
1           green       Converse
2          purple        Lacoste
3          yellow      Hollister

In [ ]:
DATASAMPLE2 = pd.DataFrame({'Favorite Shows': ['Billions', 'Startup', 'Curb your Enthusiasm'],'Favorite Movies': ['Space Jam', 'Contagion', 'Malcolm X']}, index=[0, 1, 2,])

In [ ]:
DATASAMPLE2

         Favorite Shows Favorite Movies
0              Billions       Space Jam
1               Startup       Contagion
2  Curb your Enthusiasm       Malcolm X

In [ ]:
#Lets combine those data samples into a list inside a new variable
DATASAMPLES = [DATASAMPLE1, DATASAMPLE2]

In [ ]:
DATASAMPLES

[  Favorite Colors Favorite Shoes
 0            Blue           Puma
 1           green       Converse
 2          purple        Lacoste
 3          yellow      Hollister,          Favorite Shows Favorite Movies
 0              Billions       Space Jam
 1               Startup       Contagion
 2  Curb your Enthusiasm       Malcolm X]

In [ ]:
#Now lets combine these data sets into one table
TOTALDATA= pd.concat(DATASAMPLES)

In [ ]:
TOTALDATA

  Favorite Colors Favorite Shoes        Favorite Shows Favorite Movies
0            Blue           Puma                   NaN             NaN
1           green       Converse                   NaN             NaN
2          purple        Lacoste                   NaN             NaN
3          yellow      Hollister                   NaN             NaN
0             NaN            NaN              Billions       Space Jam
1             NaN            NaN               Startup       Contagion
2             NaN            NaN  Curb your Enthusiasm       Malcolm X

In [ ]:
DATASAMPLE3 = pd.DataFrame({'Favorite Cars': ['Porsche', 'Acura', 'Lexus', 'Aston Martin']}, index=[0, 1, 2, 3])

In [ ]:
DATASAMPLE3

  Favorite Cars
0       Porsche
1         Acura
2         Lexus
3  Aston Martin

In [ ]:
DATASAMPLES = [DATASAMPLE1, DATASAMPLE2, DATASAMPLE3]

In [ ]:
TOTALDATA= pd.concat(DATASAMPLES)

In [ ]:
TOTALDATA

  Favorite Colors Favorite Shoes  ... Favorite Movies Favorite Cars
0            Blue           Puma  ...             NaN           NaN
1           green       Converse  ...             NaN           NaN
2          purple        Lacoste  ...             NaN           NaN
3          yellow      Hollister  ...             NaN           NaN
0             NaN            NaN  ...       Space Jam           NaN
1             NaN            NaN  ...       Contagion           NaN
2             NaN            NaN  ...       Malcolm X           NaN
0             NaN            NaN  ...             NaN       Porsche
1             NaN            NaN  ...             NaN         Acura
2             NaN            NaN  ...             NaN         Lexus
3             NaN            NaN  ...             NaN  Aston Martin

[11 rows x 5 columns]

In [ ]:
NEWTOTALDATA = pd.concat([DATASAMPLE1, DATASAMPLE2, DATASAMPLE3], axis=1).reindex(DATASAMPLE1.index)

In [ ]:
NEWTOTALDATA

  Favorite Colors Favorite Shoes  ... Favorite Movies Favorite Cars
0            Blue           Puma  ...       Space Jam       Porsche
1           green       Converse  ...       Contagion         Acura
2          purple        Lacoste  ...       Malcolm X         Lexus
3          yellow      Hollister  ...             NaN  Aston Martin

[4 rows x 5 columns]

In [ ]:
#Now lets check for null and nan values
NEWTOTALDATA.isnull().values.any()

True

In [ ]:
#Now lets check for null and nan values
NEWTOTALDATA.isna().values.any()

True

In [ ]:
NEWTOTALDATA = NEWTOTALDATA.replace('NaN', '')

In [ ]:
NEWTOTALDATA

  Favorite Colors Favorite Shoes  ... Favorite Movies Favorite Cars
0            Blue           Puma  ...       Space Jam       Porsche
1           green       Converse  ...       Contagion         Acura
2          purple        Lacoste  ...       Malcolm X         Lexus
3          yellow      Hollister  ...             NaN  Aston Martin

[4 rows x 5 columns]

In [ ]:
NEWTOTALDATA.fillna(0)

  Favorite Colors Favorite Shoes  ... Favorite Movies Favorite Cars
0            Blue           Puma  ...       Space Jam       Porsche
1           green       Converse  ...       Contagion         Acura
2          purple        Lacoste  ...       Malcolm X         Lexus
3          yellow      Hollister  ...               0  Aston Martin

[4 rows x 5 columns]

In [ ]:
NEWTOTALDATA.fillna("") #The quickest way to replace Null/NaN values

  Favorite Colors Favorite Shoes  ... Favorite Movies Favorite Cars
0            Blue           Puma  ...       Space Jam       Porsche
1           green       Converse  ...       Contagion         Acura
2          purple        Lacoste  ...       Malcolm X         Lexus
3          yellow      Hollister  ...                  Aston Martin

[4 rows x 5 columns]

In [ ]:
DATASAMPLE4 = pd.DataFrame({'Favorite Computers': ['HP', 'Toshiba', 'Apple']}, index=[0, 1, 2,])

In [ ]:
#This is the append function to add another datatable
NEWTOTALDATA = NEWTOTALDATA.append(DATASAMPLE4)

In [ ]:
NEWTOTALDATA

  Favorite Colors Favorite Shoes  ... Favorite Cars Favorite Computers
0            Blue           Puma  ...       Porsche                NaN
1           green       Converse  ...         Acura                NaN
2          purple        Lacoste  ...         Lexus                NaN
3          yellow      Hollister  ...  Aston Martin                NaN
0             NaN            NaN  ...           NaN                 HP
1             NaN            NaN  ...           NaN            Toshiba
2             NaN            NaN  ...           NaN              Apple

[7 rows x 6 columns]

In [ ]:
NEWTOTALDATA = pd.concat([DATASAMPLE1, DATASAMPLE2, DATASAMPLE3, DATASAMPLE4], axis=1).reindex(DATASAMPLE1.index)

In [ ]:
NEWTOTALDATA

  Favorite Colors Favorite Shoes  ... Favorite Cars Favorite Computers
0            Blue           Puma  ...       Porsche                 HP
1           green       Converse  ...         Acura            Toshiba
2          purple        Lacoste  ...         Lexus              Apple
3          yellow      Hollister  ...  Aston Martin                NaN

[4 rows x 6 columns]

In [ ]:
NEWTOTALDATA.fillna("")

  Favorite Colors Favorite Shoes  ... Favorite Cars Favorite Computers
0            Blue           Puma  ...       Porsche                 HP
1           green       Converse  ...         Acura            Toshiba
2          purple        Lacoste  ...         Lexus              Apple
3          yellow      Hollister  ...  Aston Martin

[4 rows x 6 columns]

In [ ]:
#figure out how to download to local drive or google cloud
NEWTOTALDATA.to_csv(r"C:\Users\KINGC\Downloads\Structured.csv")

In [ ]:
import base64
from IPython.display import HTML

def create_download_link( df3, title = "Download CSV file", filename = "Structured.csv"):  
    csv = NEWTOTALDATA.to_csv()
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

create_download_link(NEWTOTALDATA)

In [ ]:
NEWDATASAMPLE = pd.read_csv("https://raw.githubusercontent.com/TERRENCEDATAEXPERT/DataSets/master/freeformResponses.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,17,21,38,50) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
#this code gives you the size of your dataframe
#the first number is rows (attributes) and the second is columns (features)
NEWDATASAMPLE.shape

(16716, 62)

In [ ]:
#Object is a collection of data
NEWDATASAMPLE.dtypes

GenderFreeForm               object
KaggleMotivationFreeForm     object
CurrentJobTitleFreeForm      object
MLToolNextYearFreeForm       object
MLMethodNextYearFreeForm     object
                              ...
WorkMLTeamSeatFreeForm       object
WorkDataStorageFreeForm      object
WorkCodeSharingFreeForm      object
SalaryChangeFreeForm         object
JobSearchResourceFreeForm    object
Length: 62, dtype: object

In [ ]:
NEWDATASAMPLE.head()

  GenderFreeForm  ... JobSearchResourceFreeForm
0            NaN  ...                       NaN
1            NaN  ...                       NaN
2            NaN  ...                       NaN
3            NaN  ...                       NaN
4            NaN  ...                       NaN

[5 rows x 62 columns]

In [ ]:
NEWDATASAMPLE.tail()

      GenderFreeForm  ... JobSearchResourceFreeForm
16711            NaN  ...                       NaN
16712            NaN  ...                       NaN
16713            NaN  ...                       NaN
16714            NaN  ...                       NaN
16715            NaN  ...                       NaN

[5 rows x 62 columns]

In [ ]:
NEWDATASAMPLE

      GenderFreeForm  ... JobSearchResourceFreeForm
0                NaN  ...                       NaN
1                NaN  ...                       NaN
2                NaN  ...                       NaN
3                NaN  ...                       NaN
4                NaN  ...                       NaN
...              ...  ...                       ...
16711            NaN  ...                       NaN
16712            NaN  ...                       NaN
16713            NaN  ...                       NaN
16714            NaN  ...                       NaN
16715            NaN  ...                       NaN

[16716 rows x 62 columns]

In [ ]:
 #i want to dig in the data a little more
 #I have added this code to see all of the data instead of the preview its gives me
pd.options.display.max_rows = 999

In [ ]:
pd.options.display.max_rows

999

In [ ]:
pd.set_option('display.max_rows', 999)

In [ ]:
NEWDATASAMPLE

      GenderFreeForm  ... JobSearchResourceFreeForm
0                NaN  ...                       NaN
1                NaN  ...                       NaN
2                NaN  ...                       NaN
3                NaN  ...                       NaN
4                NaN  ...                       NaN
...              ...  ...                       ...
16711            NaN  ...                       NaN
16712            NaN  ...                       NaN
16713            NaN  ...                       NaN
16714            NaN  ...                       NaN
16715            NaN  ...                       NaN

[16716 rows x 62 columns]

In [ ]:
NEWDATASAMPLE.mean()

LearningPlatformUsefulnessCommunitiesFreeForm       NaN
LearningPlatformUsefulnessFreeForm1SelectFreeForm   NaN
LearningPlatformUsefulnessFreeForm2SelectFreeForm   NaN
LearningPlatformUsefulnessFreeForm3SelectFreeForm   NaN
WorkToolsFrequencySelect1FreeForm                   NaN
WorkFrequencySelect2FreeForm                        NaN
WorkFrequencySelect3FreeForm                        NaN
WorkMethodsFrequencySelect1FreeForm                 NaN
WorkMethodsFrequencySelect2FreeForm                 NaN
WorkMethodsFrequencySelect3FreeForm                 NaN
WorkChallengeFrequencyOtherFreeForm                 NaN
dtype: float64

In [ ]:
NEWDATASAMPLE.fillna("")

      GenderFreeForm  ... JobSearchResourceFreeForm
0                     ...
1                     ...
2                     ...
3                     ...
4                     ...
...              ...  ...                       ...
16711                 ...
16712                 ...
16713                 ...
16714                 ...
16715                 ...

[16716 rows x 62 columns]

In [ ]:
#This gives us some insight into our data
#Count tells us that every row is equal in both columns
#Mean tells us the average of the values in each column
#Standard Deviation is the disparity between the each number and the mean
#A low standard deviation means that most of the numbers are close to the average (mean)
#A high standard deviation means that the numbers are more spread out
#25% of data is below the number
#50% of data is below the number
#75% of data is below the number

NEWDATASAMPLE.describe(include='all')

       GenderFreeForm  ... JobSearchResourceFreeForm
count             134  ...                       196
unique            104  ...                       156
top              Male  ...                  LinkedIn
freq               12  ...                        17
mean              NaN  ...                       NaN
std               NaN  ...                       NaN
min               NaN  ...                       NaN
25%               NaN  ...                       NaN
50%               NaN  ...                       NaN
75%               NaN  ...                       NaN
max               NaN  ...                       NaN

[11 rows x 62 columns]

In [ ]:
NEWDATASAMPLE2 = NEWDATASAMPLE.rename(columns={'GenderFreeForm':'Gender'})

In [ ]:
row2 = NEWTOTALDATA.iloc[0:3]

In [ ]:
import base
from IPython.display import HTML

def create_download_link( df3, title = "Download CSV file", filename = "Structured.csv"):  
    csv = df3.to_csv()
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

create_download_link(df)

ModuleNotFoundError: ignored

In [ ]:
https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html

In [ ]:
link

[LINK ](https://thispointer.com/pandas-find-duplicate-rows-in-a-dataframe-based-on-all-or-selected-columns-using-dataframe-duplicated-in-python/#:~:text=duplicated(),or%20some%20specific%20columns%20i.e.&text=It%20returns%20a%20Boolean%20Series%20with%20True%20value%20for%20each%20duplicated%20row.&text=be%20checked%20for%20finding%20duplicate%20rows.)